{% extends "package/edit_base.html" %}

{% block primary_content %}
  <section class="module">
    {% block page_header %}{% endblock %}
    <div class="module-content">
      {% block primary_content_inner %}
        {% block form %}
          {#- passing c to a snippet is bad but is required here
              for backwards compatibility with old templates and
              plugins using setup_template_variables() -#}
          {{- h.snippet(form_snippet, pkg_dict=pkg_dict, **form_vars) -}}
        {% endblock %}
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('Tipp') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
          <strong>Was sind Datensätze?</strong>
          <p>Ein Datensatz ist eine Sammlung von Datenressourcen (z. B. Dateien) zusammen mit einer Beschreibung und anderen
          Informationen unter einer festen URL. Datensätze sind das, was Benutzer sehen, wenn sie nach Daten suchen.</p>
          <br>
          <strong>Daten hinzufügen:</strong>
          <p>Zu einem Datensatz können mehrere Daten mit unterschiedlichen Informationen oder die gleichen Informationen in
          verschiedenen offenen Dateiformaten gespeichert werden.</p>
          <br>
          <strong>Mögliche Datenformate:</strong>
          <p>csv, html, pdf, wms, gml, text/csv, GeoJSON, TIFF, GeoTIFF, KML, SHP, usw</p>

          {% endtrans %}
        </p>
      </div>
    </section>
  {% endblock %}

  {% block resources_module %}
    {# TODO: Pass in a list of previously created resources and the current package dict #}
    {% snippet "package/snippets/resources.html", pkg={}, action='new_resource', is_activity_archive=False %}
  {% endblock %}
{% endblock %}
