{% trans %}
<h4>Die Ursprünge der Open Data Bayern Platform</h4>
Die Open Data Bayern Plattform ist als Pilotprojekt der Digitalschmiede Bayern in Kooperation mit der Digital Product
School und dem Bayerisches Staatsministerium für Digitales entstanden.
<h4>Open Data</h4>
Unter offenen Daten versteht man allgemeine, nicht personenbezogene Daten wie die Standorte öffentlicher Einrichtungen,
demografische Daten, Unfallstatistiken, Umwelt-, Haushalts- oder Haushaltsdaten.
<h4>Unser Ziel</h4>
Das Hauptziel von Open Data in Bayern ist es, zur Entwicklung der Gesellschaft beizutragen, durch die Bereitstellung
aktueller statistischer Informationen, aus denen die Nutzer neues Wissen generieren, Geschäftsentscheidungen treffen und
den Alltag erleichtern können.
<h4>Entwicklung der Plattform</h4>
Die Entwicklung der Plattform erfolgt nach agilen Methoden mit Fokus auf die Nutzer. Deshalb wird bei Open Data Bayern
großer Wert auf die Zusammenarbeit mit den Nutzern und den Aufbau einer Open Data Bayern Community gelegt. Jede
Rückmeldung oder Frage ist willkomme unter opendatabayern@stmd.bayern.de.
{% endtrans %}
