{% extends "page_used_copy.html" %}

{% block subtitle %}{{ _('Login') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Login'), named_route='user.login') }}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content login-page-form">
      <h1 class="page-heading">{% block page_heading %}{{ _('Loggen Sie sich ein,
      um Daten hochzuladen') }}{% endblock %}</h1>
      <p>{% trans %}Die Bereitstellung von offenen Daten ist für alle Vertreter staatlicher Behörden möglich. Bitte loggen Sie
        sich ein.{% endtrans %}</p>
      {% block form %}
        {% snippet "user/snippets/login_form.html", action=g.login_handler, error_summary=error_summary %}
      {% endblock %}
    </div>
  </section>
{% endblock %}

